.DS_Store
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
__pycache__
media/
local_settings
static_root
db.sqlite3
.history/
.idea/
venv/
local_settings.py
*.PDF
*.pdf
.vscode
env/
.env/
.dump
.sql